<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/edit1.css">
  <meta charset="UTF-8">
  <title>Edit Task</title>
</head>


<body>
<div class="form-container">
  <h2>Edit Task</h2>
  <form th:action="@{/todos/update/{id}(id=${item.id})}" th:object="${item}" method="post">
    <input type="text" th:field="*{title}" placeholder="Title" required />
    <input type="text" th:field="*{description}" placeholder="Description" />
    <label for="dueDate">Due Date:</label>
    <input id="dueDate" type="datetime-local" th:field="*{dueDate}" />
    <button type="submit">Save Changes</button>
  </form>
</div>
</body>
</html>
